<section id="home" class="section container home-section">
    <div class="home-content">
        <p class="intro">
            Hello, I’m
            <span class="text-rotate">
                <span>Callum.</span>
                <span>a Full-Stack Developer.</span>
                <span>a Freelancer.</span>
                <span>a Designer.</span>
            </span>
        </p>

        <h1 class="main-heading">
            I’m a Full-Stack Developer and
            <span class="highlight-green">Freelancer</span>
            Based in the UK.
        </h1>
        <p class="description">
            I’ve done remote work for companies, consulted for startups, and
            collaborated with talented people to create digital products for both
            business and consumer use.
        </p>
        <div class="stats">
            <div class="stat-box">
                <h2 data-home-number="20" class="number">0+</h2>
                <p>Completed Projects</p>
            </div>
            <div class="stat-box">
                <h2 data-home-number="2" class="number">0+</h2>
                <p>Years of Experience</p>
            </div>
            <div class="stat-box">
                <h2 data-home-number="10" class="number">0+</h2>
                <p>Technologies Used</p>
            </div>
        </div>
    </div>
</section>