<section id="portfolio" class="portfolio-section section container">
    <div class="portfolio-content">
        <!-- Section Title -->
        <button class="section-btn">MY PORTFOLIO</button>
        <h2 class="section-heading">Helping digital brands scale.</h2>

        <!-- Portfolio Grid -->
        <div class="portfolio-grid">
            <div class="portfolio-card">
                <img class="card-image" src="/images/honeypot.jpg" alt="Portfolio Image 1">
                <div class="card-info">
                    <div class="card-text">
                        <p class="category">UI-UX Design</p>
                        <span class="tool">Figma</span>
                    </div>
                    <div class="card-btn"><img src="/images/up-arrow.png" alt=""></div>
                </div>
            </div>
            <div class="portfolio-card large">
                <img class="card-image" src="/images/honeypot.jpg" alt="Portfolio Image 1">
                <div class="card-info">
                    <div class="card-text">
                        <p class="category">UI-UX Design</p>
                        <span class="tool">Figma</span>
                    </div>
                    <div class="card-btn"><img src="/images/up-arrow.png" alt=""></div>
                </div>
            </div>
            <div class="portfolio-card large">
                <img class="card-image" src="/images/honeypot.jpg" alt="Portfolio Image 1">
                <div class="card-info">
                    <div class="card-text">
                        <p class="category">UI-UX Design</p>
                        <span class="tool">Figma</span>
                    </div>
                    <div class="card-btn"><img src="/images/up-arrow.png" alt=""></div>
                </div>
            </div>
            <div class="portfolio-card">
                <img class="card-image" src="/images/honeypot.jpg" alt="Portfolio Image 1">
                <div class="card-info">
                    <div class="card-text">
                        <p class="category">UI-UX Design</p>
                        <span class="tool">Figma</span>
                    </div>
                    <div class="card-btn"><img src="/images/up-arrow.png" alt=""></div>
                </div>
            </div>
            <div class="portfolio-card">
                <img class="card-image" src="/images/honeypot.jpg" alt="Portfolio Image 1">
                <div class="card-info">
                    <div class="card-text">
                        <p class="category">UI-UX Design</p>
                        <span class="tool">Figma</span>
                    </div>
                    <div class="card-btn"><img src="/images/up-arrow.png" alt=""></div>
                </div>
            </div>
            <div class="portfolio-card">
                <img class="card-image" src="/images/honeypot.jpg" alt="Portfolio Image 1">
                <div class="card-info">
                    <div class="card-text">
                        <p class="category">UI-UX Design</p>
                        <span class="tool">Figma</span>
                    </div>
                    <div class="card-btn"><img src="/images/up-arrow.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</section>