<section id="portfolio" class="portfolio-section section container">
    <div class="portfolio-content">
        <!-- Section Title -->
        <button class="section-btn">MY PORTFOLIO</button>
        <h2 class="section-heading">Projects I have worked on</h2>

        <!-- Portfolio Grid -->
        <div class="portfolio-grid">
            <div class="portfolio-card">
                <img class="card-image" src="/images/swaps (2).gif" alt="Portfolio Image 1">
                <div class="card-info">
                    <div class="card-text">
                        <span class="tool">SW4PS AI</span>
                    </div>
                    <div class="card-btn"><img src="/images/up-arrow.png" alt=""></div>
                </div>
            </div>
            <div class="portfolio-card large">
                <img class="card-image" src="/images/Manafinder.gif" alt="Portfolio Image 1">
                <div class="card-info">
                    <div class="card-text">
                        <span class="tool">ManaFinder</span>
                    </div>
                    <div class="card-btn"><img src="/images/up-arrow.png" alt=""></div>
                </div>
            </div>
            <div class="portfolio-card large">
                <img class="card-image" src="/images/previous-portfolio.gif" alt="Portfolio Image 1">
                <div class="card-info">
                    <div class="card-text">
                        <span class="tool">Design</span>
                    </div>
                    <div class="card-btn"><img src="/images/up-arrow.png" alt=""></div>
                </div>
            </div>
            <div class="portfolio-card">
                <img class="card-image" src="/images/drs-website (2).gif" alt="Portfolio Image 1">
                <div class="card-info">
                    <div class="card-text">
                        <span class="tool">DRS</span>
                    </div>
                    <div class="card-btn"><img src="/images/up-arrow.png" alt=""></div>
                </div>
            </div>
            <div class="portfolio-card">
                <img class="card-image" src="/images/recipe-website.gif" alt="Portfolio Image 1">
                <div class="card-info">
                    <div class="card-text">
                        <span class="tool">BiteByBite</span>
                    </div>
                    <div class="card-btn"><img src="/images/up-arrow.png" alt=""></div>
                </div>
            </div>
            <div class="portfolio-card">
                <img class="card-image" src="/images/snake.gif" alt="Portfolio Image 1">
                <div class="card-info">
                    <div class="card-text">
                        <span class="tool">Snake</span>
                    </div>
                    <div class="card-btn"><img src="/images/up-arrow.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</section>