<section id="portfolio" class="portfolio-section section container">
  <div class="portfolio-content">
    <!-- Section Title -->
    <button class="section-btn">MY PORTFOLIO</button>
    <h2 class="section-heading">Projects I have worked on</h2>

    <!-- Portfolio Grid -->
    <div class="portfolio-grid">
      <div class="portfolio-card">
        <img
          class="card-image"
          src="/images/veribly-screen-shot-1.png"
          alt="Portfolio Image 1"
        />
        <div class="card-info">
          <div class="card-text">
            <span class="tool">Veribly</span>
          </div>
          <div class="card-btn"><img src="/images/up-arrow.png" alt="" /></div>
        </div>
      </div>
      <div class="portfolio-card large">
        <img
          class="card-image"
          src="/images/rsa-screen-shot-mobile.png"
          alt="Portfolio Image 1"
        />
        <div class="card-info">
          <div class="card-text">
            <span class="tool">RSA</span>
          </div>
          <div class="card-btn"><img src="/images/up-arrow.png" alt="" /></div>
        </div>
      </div>
      <div class="portfolio-card large">
        <img
          class="card-image"
          src="/images/ai-landing.png"
          alt="Portfolio Image 1"
        />
        <div class="card-info">
          <div class="card-text">
            <span class="tool">QR Page</span>
          </div>
          <div class="card-btn"><img src="/images/up-arrow.png" alt="" /></div>
        </div>
      </div>
      <div class="portfolio-card">
        <img class="card-image" src="/images/drs.png" alt="Portfolio Image 1" />
        <div class="card-info">
          <div class="card-text">
            <span class="tool">DRS</span>
          </div>
          <div class="card-btn"><img src="/images/up-arrow.png" alt="" /></div>
        </div>
      </div>
      <div class="portfolio-card">
        <img
          class="card-image"
          src="/images/BiteByBite.png"
          alt="Portfolio Image 1"
        />
        <div class="card-info">
          <div class="card-text">
            <span class="tool">BiteByBite</span>
          </div>
          <div class="card-btn"><img src="/images/up-arrow.png" alt="" /></div>
        </div>
      </div>
      <div class="portfolio-card">
        <img
          class="card-image"
          src="/images/previous-portfolio.png"
          alt="Portfolio Image 1"
        />
        <div class="card-info">
          <div class="card-text">
            <span class="tool">Portfolio Design</span>
          </div>
          <div class="card-btn"><img src="/images/up-arrow.png" alt="" /></div>
        </div>
      </div>
    </div>
  </div>
</section>
