<section id="services" class="section container services-section">
    <div class="services-content">
        <button class="services-btn">MY SERVICES</button>
        <h2 class="section-heading">What Services I Provide?</h2>

        <div class="services-grid">
            <div class="service-box">
                <img src="/images/rocket.png" alt="UI/UX Design" />
                <span>8 Projects</span>
                <h3>UI/UX Design</h3>
                <p>There are many variations of passages available but to the majority have suffered but the into
                    majority.</p>
                <a href="#">READ MORE</a>
            </div>

            <div class="service-box">
                <img src="/images/puzzle-piece.png" alt="Web Development" />
                <span>8 Projects</span>
                <h3>Web Development</h3>
                <p>There are many variations of passages available but to the majority have suffered but the into
                    majority.</p>
                <a href="#">READ MORE</a>
            </div>

            <div class="service-box">
                <img src="/images/curve.png" alt="Branding Design" />
                <span>8 Projects</span>
                <h3>Branding Design</h3>
                <p>There are many variations of passages available but to the majority have suffered but the into
                    majority.</p>
                <a href="#">READ MORE</a>
            </div>

            <div class="service-box">
                <img src="/images/api.png" alt="App Design" />
                <span>8 Projects</span>
                <h3>App Design</h3>
                <p>There are many variations of passages available but to the majority have suffered but the into
                    majority.</p>
                <a href="#">READ MORE</a>
            </div>
        </div>
    </div>
</section>