<section id="services" class="section container services-section">
    <div class="services-content">
        <button class="section-btn">MY SERVICES</button>
        <h2 class="section-heading">What Services I Provide?</h2>

        <div class="services-grid">
            <div class="service-box">
                <img src="/images/rocket.png" alt="Web Development" />
                <span>Hand Coded</span>
                <h3>Web Development</h3>
                <p>Full-Stack Web Development. I work on front-end design, back-end development and I do this for a variety of businesses. </p>
                <!-- <a href="#portfolio">Hand Coded</a> -->
            </div>

            <div class="service-box">
                <img src="/images/puzzle-piece.png" alt="Web Development" />
                <span>Hand Coded</span>
                <h3>Mobile-Friendly Design</h3>
                <p>Building mobile-friendly websites in 2025 are non-negotiable. I build out projects with a responsive and scalable nature from the start.</p>
                <!-- <a href="#">READ MORE</a> -->
            </div>

            <div class="service-box">
                <img src="/images/curve.png" alt="Branding Design" />
                <span>Hand Coded</span>
                <h3>Back-End Development</h3>
                <p>This is where the real magic happens! I build and maintain customer login systems, booking feature's and more.</p>
                <!-- <a href="#">READ MORE</a> -->
            </div>

            <div class="service-box">
                <img src="/images/api.png" alt="App Design" />
                <span>Hand Coded</span>
                <h3>Front-End Development</h3>
                <p>Working with your needs in mind, I code websites that look great on any device. Whether someone visits your site on a phone, tablet or computer.</p>
                <!-- <a href="#">READ MORE</a> -->
            </div>
        </div>
    </div>
</section>