<section id="skills" class="section container skills-section">
    <div class="skills-content">
        <button class="section-btn"> MY SKILLS</button>
        <h2 class="section-heading">My Advantages</h2>

        <div class="skills-grid">
            <div class="skill-box">
                <img src="/images/UI.png" alt="Figma" />
                <div class="skill-info">
                    <h3>UI / UX Design</h3>
                    <span class="skill-percent" data-percent="75">0%</span>
                </div>
                <div class="progress-bar">
                    <div class="progress" data-percent="75"></div>
                </div>
            </div>

            <div class="skill-box">
                <img src="/images/development.png" alt="Development" />
                <div class="skill-info">
                    <h3>Development</h3>
                    <span class="skill-percent" data-percent="85">0%</span>
                </div>
                <div class="progress-bar">
                    <div class="progress" data-percent="85"></div>
                </div>
            </div>

            <div class="skill-box">
                <img src="/images/nodejs.png" alt="Graphic Design" />
                <div class="skill-info">
                    <h3>Back-End</h3>
                    <span class="skill-percent" data-percent="70">0%</span>
                </div>
                <div class="progress-bar">
                    <div class="progress" data-percent="70"></div>
                </div>
            </div>

            <div class="skill-box">
                <img src="/images/frontend.png" alt="Sketch" />
                <div class="skill-info">
                    <h3>Front-End</h3>
                    <span class="skill-percent" data-percent="80">0%</span>
                </div>
                <div class="progress-bar">
                    <div class="progress" data-percent="80"></div>
                </div>
            </div>
        </div>
    </div>
</section>