header {
    display: flex;
    justify-content: space-between;
    align-items: end;
    height: 4rem;
    padding: 0 2rem;
}

header a {
    text-decoration: none;
    color: var(--font-primary-clr);
    transition: color 0.3s ease-in-out;
}
header a:hover {
    text-decoration: underline;
    color: var(--font-highlight-1);
}

header h1 {
    font-weight: 600;
}

@media (min-width: 1000px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: end;
    }
}

@media (width < 1000px) {
    header {
        padding: 0 1rem;
    }
}