<div class="profile-card container">
    <img src="/images/hero-image.jpg" alt="Profile Picture">
    <p class="job-title">Software Developer</p>
    <h2>Hi, I'm Callum Luxford</h2>

    <div class="social-links">
        <a href="#"><i class="fab fa-linkedin"></i></a>
        <a href="#"><i class="fab fa-behance"></i></a>
        <a href="#"><i class="fas fa-globe"></i></a>
    </div>

    <div class="btn-group">
        <a href="#" class="btn">Contact Us</a>
        <a href="#" class="btn">Download CV</a>
    </div>
</div>