<div class="profile-card container">
    <img src="/images/hero-image.jpg" alt="Profile Picture">
    <p class="job-title">Software Developer</p>
    <h2>Hi, I'm Callum Luxford</h2>

    <div class="social-links">
        <a href="https://github.com/Callum-Luxford" target="_blank"><img src="/images/github.png" alt="github icon"></a>
        <a href="https://www.linkedin.com/in/callum-luxford-5185872a2/" target="_blank"><img src="/images/linkedin.png" alt=""></a>
        <a href="https://www.instagram.com/callum_luxford/" target="_blank"><img src="/images/instagram.png" alt=""></a>
    </div>

    <div class="btn-group">
        <a href="#contact" class="btn">Contact Me</a>
        <a href="/files/cv.pdf" download="callum_luxford_cv.pdf" class="btn">Download CV</a>
    </div>
</div>